.carousel-grid {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  gap: 1rem;
  padding: 1rem;
  background: radial-gradient(circle,rgba(255, 0, 89, 1) 15%, rgba(0, 140, 255, 1) 34%, rgba(110, 29, 181, 1) 45%, rgba(255, 140, 0, 1) 61%, rgba(255, 200, 0, 1) 67%, rgba(255, 140, 0, 1) 75%, rgba(110, 29, 181, 1) 91%);
}

@media (max-width: 768px) {
  .carousel-grid {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
