.carousel-grid {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  gap: 1rem;
  padding: 1rem;
  background-color: #9c1010;
}

@media (max-width: 768px) {
  .carousel-grid {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
